
ul.projects {

  margin-bottom: 0;

  > li {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .actions {
    > li {
      border: none;
    }
  }

  p {
    min-height: 220px;

    &.text-left {
      text-align: left;
    }

    &.text-right {
      text-align: right;
    }

    img {
      border: 1px solid #eee;
    }
  }
}